<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav') %>


        <div class="container mt-3">
            <form method="post" action="/blog" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="coverImage" class="form-label">Upload File</label>
                    <input name="coverImage" class="form-control" type="file" id="coverImage">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <textarea name="body" class="form-control" placeholder=" Write Your Ideas Here"
                        id="body"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>


        <%- include('./partials/scripts') %>
</body>

</html>